/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author cryan17
/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



/*****************************************************
WHOLE PAGE RULE
 *****************************************************/

body {
	font-family: "lucida console", Monaco, monospace;
}
section {
	padding: 1.5rem;
}

/*****************************************************
HEADER
 *****************************************************/

header {
	background-color: #333;
	color: lime;
}

header h1 {
	display: inline-block;
	margin-right: 1.5rem;
	font-size: 2.5rem;
	padding-left: 5rem;
}

/*******************************************************
WELCOME IMG
 *******************************************************/

img[alt="welcome to my homepage"] {
	display: block;
	margin: 0 auto 2rem;
}

/*******************************************************
INSTRUCTIONS
 *******************************************************/

.instructions-wrapper {
	display: flex;
	border: 3px solid black;
	padding: 20px;
	align-items: flex-start;
}

.instructions-content {
	flex: 1;
	padding-right: 2rem;
}

.instructions-wrapper h2 {
	margin-top: 0;
}

.instructions-wrapper img {
	width: 250px;
}

/*******************************************************
ABOUT ME
 *******************************************************/

.about-me {
	background-color: blue;
	color: #FFF;
}

.about-me img {
	width: 300px;
	float: left;margin-right: 2rem;
	border: 3px solid white;
}

.about-me p span {
	color: yellow;
	font-style: italic;
}

/*******************************************************
SKILLZ TABLE
 *******************************************************/
section:nth-child(4) h2 {
	text-align: right;
	margin-top: 0;
}

section:nth-child(4) table {
	width: 100%;
	color: lime;
}

section:nth-child(4) table td,
section:nth-child(4) table th {
	text-align: left;
	background-color: #333;
	padding: 10px;
}

/*******************************************************

 *******************************************************/